.header__wrapper {
    margin-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img__block {
    display: inline-block;
    margin-bottom: 2.5vw;
}

.img {
    width: 360px;
}